

.menu {
	border: 1px solid black;
}

.menu h4{
	text-align: center;
}

.info {
	border: 1px solid black;
}

.message {
	border: 1px solid black;
}

.info{
	font-weight: bold;
	border: 1px solid black;
}

/*.messageBody{
	display: none;
}*/s